.amenities{
    width: 100%;
    height: 50em;
    margin: 5rem 0;
    background-color: lightblue;
}

.amenities__container{
    height: 30em;
    width: 70%;
    margin: auto;
    
}

.amenities__blank{
    margin: 2rem auto 0 auto;
    height: 10em;
    width: 100%;
}

.amenities__head{
    margin: 2rem auto 0 auto;
    height: 9em;
    width: 70%;
    
}

.paragraph{
    text-align: center;
    font-family: Arial, sans-serif;
}
.paragraph-bg{
    font-size: 1.7em;
    font-weight: 500;
    margin-bottom: 1em;
}

.paragraph-sm{
    font-size: 0.9em;
    font-weight: 300;
}

.amenities__body{
    margin: 0 auto;
    height: 25em;
    width: 100%;
}

.amenities__body_container{
    height: 12em;
    width: 90%;
    margin-bottom: 1rem;
    display:flex;
    margin-left: auto;
    margin-right: auto;

}

.amenities__item{
    width: 19%;
    height: 99%;
    background-color: yellow;
}

.amenities__img{
  background-color:aqua;
  width: 80%;
  height: 70%;  
  margin: auto;
}

.amenities__info{
    background-color: rgb(124, 42, 42);
    width: 100%;
    height: 20%;
    font-size: 15px;
    color: white;
    text-align: center;
}
