.amenities{
    width: 100%;
    height: 60em;
    margin: 5rem 0;
    background-color: rgb(154, 191, 240);
}

.amenities__container{
    height: 30em;
    width: 70%;
    margin: auto;
    
}

.amenities__blank{
    margin: 2rem auto 0 auto;
    height: 10em;
    width: 100%;
}

.amenities__head{
    margin: 2rem auto 0 auto;
    height: 9em;
    width: 70%;
    
}

.paragraph{
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}
.paragraph-bg{
    font-size: 1.7em;
    font-weight: 500;
    margin-bottom: 1em;
}

.paragraph-sm{
    font-size: 0.9em;
    font-weight: 300;
}

.amenities__body{
    margin: 7rem auto;
    height: 25em;
    width: 100%;
}

.amenities__body_container{
    height: 9em;
    width: 90%;
    margin-bottom: 1rem;
    display:flex;
    margin-left: auto;
    margin-right: auto;

}

.amenities__item{
    width: 19%;
    height: 99%;
}

.amenities__img{
  width: 80%;
  height: 70%;  
  margin: auto;
}

.amenities__info{
    width: 80%;
    height: 30%;
    font-size: 15px;
    color: white;
    text-align: center;
    margin: auto;
}

.amenities__img img{
    height: 3.5em;
    width: 3.9em;
    margin-left:2rem;
}
