.prefooter{
    background-color: white;
    height: 35em;
    width: 100%;
    margin-bottom: 5rem;
}

.prefooter__container{
    background-color:aqua;
    height: 100%;
    width: 75%;
    margin: auto;
    display: flex;
}

.prefooter__left{
    width: 35%;
    height: 100%;
    background-color: bisque;
}

.prefooter__right{
    width: 65%;
    height: 100%;
    background-color: rgb(196, 255, 216);
}
