.services{
    width: 100%;
    height: 30em;
    margin: 5rem 0;
}

.services__container{
    display:flex;
    height: 28em;
    width: 80%;
    margin: auto;
}

.services__items{
    width: 30%;
    height: 25em;
    margin: 2%;
}

.services__items_info h4{
    text-align: center;
    color: #5c5c5c;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}

.services__items_info p{
    text-align: center;
    color: #5c5c5c;
    font-size: 15px;
    letter-spacing: 0.3px;
    font-weight: 500;
}
